@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1575942318083'); /* IE9 */
  src: url('iconfont.eot?t=1575942318083#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALAAAsAAAAABnQAAAJ0AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gQsBNgIkAwgLBgAEIAWEbQczG7QFyB6SJEUqEVCA0mEAEEY8fK3p+3t7BWaZOkANqAhUlakCqWJ8p5qNyHz7qzm5wfPexV3Ho9P60nK+MH8OQGYoVL1QjATH6wFA/n8GXE5/Aj3INw4otz1prMljAgaWBrQ3RlGiZZJ4w9gFL/A+gSZj9ML2apocIFZmLwvEM0v7QWwhKMss0yDUNezN4k2pIb2kI8Br9P34Z41YkrJg1xw+VYdA2dehk0N/TRcBIURAh0sUWAFk4rQxuS9CMC5CUzLSFHCsyuCr+oFDHNUq2F9nl7eAESh7JrmneNTyBHIyPAFYnfQOUktP19Wr4/rNefvhvnlvvnIsTS65Zhb6V4udulv37GLvct6uchGZmhZ1Xl70pV6Ek9JSIy/yeX+aeXjA/rFKbv709Cd/2mnp6JgVRUF8PmjJFoDae/FTqCAMwVX15NGbsvYf25zBR2/GRuSvvWcwzA007NkV/CH5wK5sKG17ypq80Z1MTFqa0KQJNdjb5WWqqfd2sqFB7025641mKDSYITO7glKzCuo02ESTZbWHm3XDIkRuxJIRgNBhE0mbKgodjsnMPqPU5w91OiICTc6j+8xmc8HG72LkJygEAx2QDcoS5TpJfFxpQ3SL4Md5ZcS7ENbYCLQYzeVMLZIQXmKD1kpbCaEghWUR1oDHkCDIUMEyh4LEyBCiFJhMVNOLjEFZBPF2YYgfgYRAAR0gVpBMQgWDifjK520QWguBH+6oq0u6IJiGHR2yMDIPIGt10qC6R3lG04pmRRAUiILJRFANmIUIBDJIaZ7FQYIII2ZCXFHA5PSjhuqM2xvEHyhlTdjmFM6YQuM9gySalj0rAAA=') format('woff2'),
  url('iconfont.woff?t=1575942318083') format('woff'),
  url('iconfont.ttf?t=1575942318083') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1575942318083#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chenggong:before {
  content: "\e6bf";
}

